<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I acquired master’s degree at <a class="underline-link" href="https://web.ncku.edu.tw/index.php?Lang=en" target="_blank">National Cheng Kung University</a> after been an exchange student and studied at <a class="underline-link" href="https://www.kth.se/en" target="_blank">KTH Royal Institute of Technology</a>. During bachelor, my research is focusing on intelligent control and integrated/embedded system, especially on building <a class="underline-link" href="https://youtu.be/vum8fPhUUZk" target="_blank">soccer robots</a> for <a class="underline-link" href="https://msl.robocup.org" target="_blank">RoboCup Middle Size League</a> and <a class="underline-link" href="http://www.firaworldcup.org/VisitorPages/show.aspx?ItemID=804,0" target="_blank">FIRA RoboSot</a>, which featuring four omni-wheels and omni-mirror.
    </p>

    <p>
      To enrich my vision, I choose <a class="underline-link" href="https://sites.google.com/site/nckuikm/home" target="_blank">natural language processing and data mining</a> as my research field in master’s degree, especially <strong>argument mining and summarization via directed graph</strong> as goals for my master’s thesis.
    </p>

    <p>
      As an engineer who likes to learn and try new technologies, <strong>I’m also fond of travel and photographing</strong>. I believe that photographers use photos to let more people explore the world, just like <strong>what engineers do is to use technologies to make life better!</strong>
    </p>

    {% include employment-status.html %}
  </div>
</section>
